/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { 
    
} */

/* Medium devices (tablets, 768px and up) */
@media all and (min-width: 768px) { 
    .navbar {
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        
        min-height: 10vh;
        min-width: 100vw;
        background: whitesmoke;
    }

    .navbar__brand {
        margin-right: auto;
    }

    .navbar__button {
        width: auto;
    }
    
    #expand-collapse {
        display: none;
    }


    #background {
        display: flex; justify-content: flex-end; align-items: flex-end;

        background: url(../img/genova1-gray-opt.jpg);
    }

    #header {
        width: 40vw;

        font-size: 10vh;
    }
}
  
/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */