/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { 
    
} */

#presentation {
    flex-direction: column;
    justify-content: center; 
    align-items: center;

    min-width: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 90vh;
    height: auto; 
    padding: 0; 

    background-color: var(--primary-s2);

    box-shadow: inset 4vw var(--shadow);

    box-shadow: inset 0 0 16px var(--shadow);
    -webkit-box-shadow: inset 0 0 16px var(--shadow);
    -moz-box-shadow: inset 0 0 16px var(--shadow);
    -o-box-shadow: inset 0 0 16px var(--shadow);

}

.hero-banner {
    border: solid 1px var(--shadow);
    box-shadow: 0 0 16px var(--shadow);
    -webkit-box-shadow: 0 0 16px var(--shadow);
    -moz-box-shadow: 0 0 16px var(--shadow);
    -o-box-shadow: 0 0 16px var(--shadow);
}

#mq-hero-over {
    display: none;
}
/* Medium devices (tablets, 768px and up) */
@media all and (min-width: 768px) { 
    #mq-hero-under {
        display: none;
    }
    #mq-hero-over {
        display: flex;
    }
    #background-image {
        background: none;
    }
}




/* Medium devices (tablets, 768px and up) */
@media all and (min-width: 768px) { 
    .navbar {
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        
        min-height: 10vh;
        min-width: 100vw;
        z-index: 10;
    }

    .navbar__brand {
        margin-right: auto;
    }

    .navbar__button {
        width: auto;
    }
    
    #expand-collapse {
        display: none;
    }

    #main {
        align-items: center;

        background: url(../img/genova2-opt.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;

    }

    #header {
        width: 40vw;

        font-size: 10vh;
    }

    #actions {
        flex-direction: row;
    }
    
    #sezione-servizi {

    }
    #sezione-lavori {

    }
}
  
/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */