/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { 
    
} */

/* Medium devices (tablets, 768px and up) */
@media all and (min-width: 768px) { 
    .navbar {
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        
        min-height: 10vh;
        min-width: 100vw;
        background: whitesmoke;
        z-index: 10;
    }

    .navbar__brand {
        margin-right: auto;
    }

    .navbar__button {
        width: auto;
    }
    
    #expand-collapse {
        display: none;
    }

    #main {
        align-items: center;

        background: url(../img/genova2-opt.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;

    }

    #header {
        width: 40vw;

        font-size: 10vh;
    }

    #actions {
        flex-direction: row;
    }
    
    #sezione-servizi {

    }
    #sezione-lavori {

    }


    #presentation {           
        flex-direction: column;
        justify-content: flex-end; 
        align-items: flex-start;
        background: none;
    }

    #presentation__header {
        height: 50vh;
        width: auto;
        padding: 2em;
        min-height: 50%;
        min-width: 50%;
        margin-bottom: 0;
        background-color: var(--dominant);
    }
    #presentation__slogan {
        width: 100%;

        min-height: auto; min-width: 70%; 
        height: auto; width: auto;
        
        padding: 1em;

        background-color: var(--accent);
    }


    #azienda {
        font-size: 20vh;
        font-weight: 700; 
        border-bottom: solid 4px var(--accent);
    }
}
  
/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */