:root {
    --dominant: #ececeb;
    --dominant--s1: #2B2B2B;
    --dominant--s2: #aaaaaa;

    --accent: #e25822;
    --secondary: #10316b;
    --text: #000000;
    --dark: #000000;
}

body {
    margin: 0;
    padding-top: 10vh; /* for NAVBAR */
    scroll-behavior: smooth;
    background: var(--dominant);

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

/* --- SCROLLBAR --- */
    /* -webkit- (Chrome, Safari, newer versions of Opera): */
    body::-webkit-scrollbar { width: 0 !important }
    /* -moz- (Firefox): */
    body { overflow: -moz-scrollbars-none; }
    /* -ms- (Internet Explorer +10): */
    body { -ms-overflow-style: none; }
/* ------- */


/* --- NAVIGATION BAR --- */

    .navbar {
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        overflow: hidden;

        min-width: 100vw;
        background: var(--dominant);
        box-shadow: 0 0 4px var(--dominant--s1);
    }
    .navbar--collapsed {
        height: 10vh;
    }
    .navbar--expanded {
        height: auto;
    }
    .navbar div {
        min-height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 0 2vw;
    }

    .navbar__brand {
        font-size: 5vh;
        font-weight: 900;
        opacity: 0.5;
    }
    .navbar__button {

    }
    .navbar__button a {
        font-size: 1.6rem;
        cursor: pointer;
        text-decoration: none;
        color: var(--text);
        opacity: 0.8;
        padding-left: 1em;
    }
    .navbar__button.current a {
        font-weight: 700 !important;
        border-left: solid 2px var(--secondary);
    }
    .navbar__button.disabled a {
        color: var(--text);
        cursor: pointer;
        opacity: 0.2;
    }

    button.disabled {
        cursor: pointer;
        opacity: 0.2;
    }
    #expand-collapse {
        position: absolute;
        right: 0;
        color: var(--accent);
        font-size: 6vh;
    }
/* ------- */

/* --- MAIN --- */

#main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    height: auto;
    min-width: 100vw;
}
#main div {
    padding: 0 2vw;
}

h1 {
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 100%;
    text-align: center;

    border-bottom: solid 4px var(--secondary);
    padding-bottom: 1rem;
}
/* ------- */