:root {
    --dominant: #ececeb;
    --dominant--s1: #2B2B2B;
    --dominant--s2: #d6d6d6;

    
    --brick: #bd8e80;

    --accent: #ff5722;
    --accent-dark: #c41c00;

    --secondary: #10316b;
    --shade1: #002984;
    --shade2: #1b1b1b;
    --text: #000000;
    --dark: #000000;
}

/* °°°°°°°°°°°°°°°°°°° */

body {
    position: absolute;

    margin: 0;
    padding-top: 10vh; /* for NAVBAR */
    scroll-behavior: smooth;
    background: var(--shade2);

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

/* --- SCROLLBAR --- */
    /* -webkit- (Chrome, Safari, newer versions of Opera): */
    body::-webkit-scrollbar { width: 0 !important }
    /* -moz- (Firefox): */
    body { overflow: -moz-scrollbars-none; }
    /* -ms- (Internet Explorer +10): */
    body { -ms-overflow-style: none; }
/* ------- */

div {
    box-sizing: border-box;
}

/* --- NAVIGATION BAR --- */

    .navbar {
        position: fixed;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        overflow: hidden;

        min-width: 100vw;
        background: var(--dominant);
        box-shadow: 0 0 4px var(--dominant--s1);
    }
    .navbar--collapsed {
        height: 10vh;
    }
    .navbar--expanded {
        height: auto;
    }
    .navbar div {
        min-height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 0 2vw;
    }

    .navbar__brand {
        font-size: 5vh;
        font-weight: 900;
        opacity: 0.5;
    }
    .navbar__button {
        cursor: pointer;
        width: 100%;
        display: flex;
        justify-content: flex-start !important;
    }
    .navbar__button a {
        /* font-size: 1.6rem; */
        text-decoration: none;
        color: var(--text);
        opacity: 0.8;
        padding-left: 1em;
    }
    .navbar__button.current {
        cursor: default;
    }
    .navbar__button.current a {
        font-weight: 700 !important;
        border-left: solid 4px var(--shade1);
    }
    .navbar__button.disabled a {
        color: var(--text);
        cursor: default;
        opacity: 0.2;
    }

    button.disabled {
        cursor: pointer;
        opacity: 0.2;
    }
    #expand-collapse {
        position: absolute;
        right: 0;
        color: var(--accent);
        font-size: 6vh;
    }
/* ------- */

/* --- MAIN --- */

#main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    height: auto;
    min-height: 100vh;
    min-width: 100vw;
}

#background {
    height: 70vh;  width: 100%;
    
    /* background: url(../img/genova2-opt-768.jpg); */
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

#description {
    height: auto; 
    background: var(--dominant--s2);
}

#actions {
    height: auto; 
    width: 100%;
}


#presentation {
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center;

    background: url(../img/genova2-opt-768.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

    min-height: 80vh;
    height: auto; 
    padding: 0; 
}

#presentation__header {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;

    width: 70%;
    background: var(--dominant); 
    margin-bottom: 20vh;
    text-shadow: 0 0 1px #ececeb;
    font-size: 4vh;    
    text-align: center; line-height: 100%; font-weight: 400;
}

#presentation__slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 20vh; min-width: 100%; 
    
    background-color: var(--accent);
    
    margin-bottom: 0;
    text-shadow: 0 0 1px var(--dark);
    color: var(--dominant);
    font-size: 4vh;
    padding:  0.5em;
}

h1 {
    font-size: 0.8em;
    font-weight: normal;
    line-height: 100%;
    text-align: center;
    /* font-style: italic; */
    width: 100%;
    color: var(--dominant)
}

#sezione-servizi {
    display: flex; flex-direction: column; align-items: flex-start;

    height: auto; width: 100%; 
    max-height: 512px;
    padding: 1rem 2rem;
    background: var(--shade1); color: var(--dominant); 
}

#sezione-lavori {
    display: flex; flex-direction: column; align-items: flex-start;

    height: auto; width: 100%; 
    max-height: 512px;
    padding: 1rem 2rem;

    background: var(--shade2); color: var(--dominant); 
}

.btn-action {
    align-self: flex-end; 

    justify-content: space-around;
    min-width: 50%; background: var(--accent); border-radius: 2px; color: var(--dominant); box-shadow: 0 0 2px var(--dark); border: none; font-size: 1.8rem; 
    text-shadow: 0 0 2px black;

    padding: 0.2em 0em 0.2em 0.2em;  margin-bottom: 1rem;
}

.btn-action i {
    margin-left: 0.2em;
}

#azienda {
    /* font-size: 10vh; */
    font-weight: 700; 
    border-bottom: solid 4px var(--accent);
}

#sezione-descrizione {
    background: var(--dominant);
}
#sezione-elenco-servizi {
    background: var(--dominant);
}

#elenco-servizi li {
    padding: 1em 0.5em;
}


/* --------------- behaviours */

.navbar__button.current a:hover {
    color: var(--text);
    border-left: solid 4px var(--shade1);
}
.navbar__button.disabled a:active {

}

.navbar__button a:hover {
    color: var(--accent-dark);
    font-weight: 700;
    border-left: solid 4px var(--accent);
}
.navbar__button:active {
    opacity: 0.4;
}

.btn-action:hover {
    box-shadow: 0 0 10px 0 inset var(--accent-dark);
}
.btn-action:focus {
    box-shadow: 0 0 10px 0 inset var(--accent-dark);
}
.btn-action:active {
    background-color: var(--accent-dark);
}