:root {
    /* MATERIAL https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=EEEEEE&secondary.color=FF3D00&primary.text.color=000000 */
    --primary: #eceff1;   
    --primary-light: #ffffff;
    --primary-dark: #babdbe;

    --secondary: #ff6d00;
    --secondary-light: #ff9e40;
    --secondary-dark: #c43c00;
    
    --primary-s1: #eceff1ca;  
    --primary-s2: #babdbeca;  

    --background: #ffffff;

    --text: #000000;

    --shade2: #bcbcbc;

    --dark: #000000;

    --shadow: #00000030;
    --shadow2: #c43c0090;

}

.bg-image {
    background: url(../img/genova2-opt.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.bg-background {
    background-color: var(--background);
}

.bg-primary {
    background-color: var(--primary);
}
.bg-primary-dark {
    background-color: var(--primary-dark);
}
.bg-primary-light {
    background-color: var(--primary-light);
}

.bg-secondary {
    background-color: var(--secondary);
}
.bg-secondary-dark {
    background-color: var(--secondary-dark);
    color: var(--primary-light);
}
.bg-secondary-light {
    background-color: var(--secondary-light);
}

#footer a {
    color: var(--secondary-dark);
    text-decoration: none;
    cursor: pointer;
}
#footer a:hover {
    color: var(--secondary);
}
#footer a:active {
    color: var(--secondary-light);
}

#logo {
    background: url(../svg/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    height: auto;
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
}

#background-image {
    background: url(../img/genova2-opt-768.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}




/* HERO SECTION */



#sezione-servizi {
    display: flex; flex-direction: column; align-items: flex-start;

    height: auto; width: 100%; 
    max-height: 512px;
    padding: 1rem 2rem;
}

#sezione-lavori {
    display: flex; flex-direction: column; align-items: flex-start;

    height: auto; width: 100%; 
    max-height: 512px;
    padding: 1rem 2rem;
}

.btn-action {
    align-self: flex-end; 
    cursor: pointer;
    justify-content: space-around;
    min-width: 50%; border-radius: 2px; color: var(--primary); box-shadow: 0 0 2px var(--shadow); border: none; font-size: 1.8rem; 
    /* text-shadow: 0 0 2px var(--dark); */
    box-shadow: 0 0 4px var(--shadow);
    background-color: var(--secondary);
    padding: 0.2em 0em 0.2em 0.2em;  margin-bottom: 1rem;
}

.btn-action i {
    margin-left: 0.2em;
}

#elenco-servizi li {
    padding: 1em 0.5em;
}

.btn-action:hover {
    box-shadow: 0 0 4px 0 inset var(--secondary-dark);
}
.btn-action:focus {
    box-shadow: 0 0 4px 0 inset var(--secondary-dark);
}
.btn-action:active {
    background-color: var(--secondary-dark);
}

#footer {
    overflow: hidden;
}